<div class="navbar " role=" navigation " style="background-color: white; ">
    <div class="container-fluid ">
        <div class="navbar-header ">
            <a class="navbar-brand " href="{% url 'instaToday' %} "> <img src="/static/image/logo.png " alt=" " style="width: 220px; height: 50px; padding-left: 100px; "></a>

        </div>

        <form action="{% url 'search' %}" class="text-black" method="get">
            {% csrf_token %}
            <input type="text" placeholder="Search.." name="post" style="width: 100px;">

            <button type="submit" class="btn btn-info"> <i class="fa fa-search"></i> </button>
        </form>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right" style="padding-right: 100px; padding-top: 30px;">
                <li>
                    <a href="{% url 'instaToday' %} "><img src="/static/image/home.png" alt="" style="height: 22px; width: 22px;"></a>
                </li>

                {% if user.is_authenticated %}

                <li>
                    <a href="/profile/{{image.id}}"><img class="rounded-circle account-profile" src="{{ user.profile.profile_photo.url }}" alt="user" style="border-radius: 50%; width: 30px; height: 30px;"></a>
                </li>
                <li> <a href="{%url 'new-post'%}">Post</a></li>

                <li> <a href="/logout">Logout</a></li>
                {% else %}
                <li>
                    <a class='btn btn-default' href="/accounts/register">Sign up</a>
                </li>
                {% endif %}
        </div>
        <hr>
    </div>
</div>