<div class="navbar " role=" navigation " style="background-color: white; ">
    <div class="container-fluid ">
        <div class="navbar-header ">
            <a class="navbar-brand " href="{% url 'instaToday' %} "> <img src="/static/image/logo.png " alt=" " style="width: 220px; height: 50px; padding-left: 100px; "></a>

        </div>
        <div class="navbar-collapse collapse ">
            <ul class="nav  navbar-right " style=" width: 220px; height: 50px; padding-right: 300px;">

                <a href="{% url 'instaToday' %} "> <i class="fas fa-home" style="color: black;"></i></a>

                <a> <i class=" fas fa-location-arrow " style="color: rgb(250, 243, 250); outline: black;"></i></a>

        </div>
        <hr>
    </div>
</div>