<div class="navbar " role=" navigation " style="background-color: white; ">
    <div class="container-fluid ">
        <div class="navbar-header ">
            <a class="navbar-brand " href="{% url 'instaToday' %} "> <img src="/static/image/logo.png " alt=" " style="width: 220px; height: 50px; padding-left: 100px; "></a>

        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right" style="padding-right: 100px; padding-top: 30px;">
                <li>
                    <a href="{% url 'instaToday' %} "><img src="/static/image/home.png" alt="" style="height: 22px; width: 22px;"></a>
                </li>
                <li><img src="/static/image/paper-plane.svg" alt="" style="height: 22px; width: 22px;"></li>
                <li class="c"><img src="/static/image/compas.png" alt="" style="height: 30px; width: 30px; "></li>

                <li><img src="/static/image/heart.svg" alt="" style="height: 22px; width: 22px;"></li>

                {% if user.is_authenticated %}

                <li>
                    <a href="/profile/{{image.id}}"><img class="rounded-circle account-profile" src="{{ user.profile.profile_photo.url }}" alt="user" style="border-radius: 50%; width: 30px; height: 30px;"></a>
                </li>
                <li> <a href="{%url 'new-post'%}">Post</a></li>

                <li> <a href="/logout">Logout</a></li>
                {% else %}
                <li>
                    <a class='btn btn-default' href="/accounts/register">Sign up</a>
                </li>
                {% endif %}
        </div>
        <hr>
    </div>
</div>