{%extends 'the-gram/base.html'%} {% block content %}{%load cloudinary%} {{block.super}}

<div class="container">


    {% for image_item in insta %}

    <div class="row ">

        <div class=" col-md-6 ">

            <h2 class="text-center "> <img src="{{ image_item.photo.url }}" alt="" style="width: 300px;"></h2>
            <p class="text-center "> {{ image_item.name }} </p>
            <p class="text-center "> {{ image_item.image_caption }} </p>
            <p class="text-center "> {{ image_item.likes }} </p>
            <p class="text-center "> {{ image_item.comment }} </p>
        </div>
    </div>

</div>

{% empty %} {% endfor %}
<section style="float: right; position: fixed; " class="col-md-6">
    <div class="card-header">
        By: {{image.author}}
        <img src="{{image.author.profile.photo.url}}" alt="">
    </div>

</section>
</div>
{% endblock %}