{%extends 'the-gram/base.html'%} {% load static %} {% block content %} {{ block.super }}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">
            <h4>@{{user.username}}<br> Bio: <br>
                <p>{{user.profile.bio}}</p>
            </h4>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-sm btn-outline-info" data-toggle="modal" data-target="#exampleModal">
  Edit Profile
</button>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="background-color: blanchedalmond;">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{{user.username}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                        </div>
                        <div class="modal-body">
                            <form action="" id="form" method="post" enctype="multipart/form-data" class="form-control">
                                {% csrf_token %} {{u_form}} {{p_form}}
                                <button type="submit" class="btn btn-sm btn-info">Update</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <img src="{{ user.profile.profile_photo.url}}" style="border-radius: 50%; width: 100px; height: 100px;" alt="profile photo">
        </div>
        <div class="col-md-4"></div>
    </div>
    <hr>
</div>
<div class="card-columns container-fluid">
    {% for image in insta %} {% if image.author == user %}
    <div class="card">
        <img src="{{image.photo.url}}" height="300vh" width="50%" alt="my images">
    </div>
    {% endif %} {% endfor %}
</div>
</div>
{% endblock %}